page-settings {
    #pqc{
        color: rgb(40, 141, 124);
        font-family: 'Lobster', cursive; 
        text-align: center;    }
    .pq{
        text-align: center;
        font-family: 'EB Garamond', serif;
        font-size: 22px;
    }
    h3,h1{
        color: rgb(40, 141, 124);
      font-family: 'Lobster', cursive; 
      text-align: center;
  }
  .footer{
    text-align: center;
    font-family: 'Lobster', cursive; 
}

}
