page-schedule {
    h3,h1{
        color: rgb(17, 93, 207);
      font-family: 'Lobster', cursive; 
      text-align: center;
    }
   
    .footer{
        
        font-family: 'Lobster', cursive; 
    }
}
