page-home {
    agm-map {
        height: 95%;
        width: 100%;;
        
      }
      .acc{
          color: #e56e40;
      }
      h3{
          color: rgb(40, 141, 124);
        font-family: 'Lobster', cursive; 
        text-align: center;
    }
    .footer{
        text-align: center;
        font-family: 'Lobster', cursive; 
    }
}
